html {
    background-color: rgb(37, 29, 37);
    display: flex;
    background-size: cover;
}

body {
    color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.name {
    font-size: 40px;
    color: aliceblue;
}

.header {
    display: flex;
    color: rgb(213, 224, 206);
    height: auto;
    width: 100%;
    border-color: aliceblue;
    justify-content: space-between;
    height: 10vh;
    gap: 1rem;
    align-items: center;
}

.name h1:hover {
    color: aqua;
}

.container {
    margin-top: 200px;
    margin-left: 140px;
}

p {
    margin-top: 0rem;
    margin-right: 600px;
}
.image{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    margin-left: 800px;
    margin-top:-200px;
}

.logo {
    font-size: 50px;
    font-weight: 700;
    margin-left: 140px;
}

.navbar {
    display: flex;
    gap: 7rem;
    font-weight: 500;
    font-size: 25px;
    margin-right: 200px;
}

.button1, .button2 {
    margin-top: 40px;
    display: inline-block;
    width: 200px;
    height: 50px;
    font-size: 20px;
    background-color: aqua;
    border-radius: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    transition: color 0.3s, background-color 0.3s, transform 0.3s;
}

.button1:hover, .button2:hover {
    color: aqua;
    background-color: rgb(0, 0, 0);
    transform: scale(1.1);
}

.contact, .about, .projects, .skill {
    display: inline-block;
    position: relative;
    text-align: center;
    border-radius: 10px;
    transition: width 0.1s, background-color 0.1s, color 0.1s, transform 0.1s;
    overflow: hidden;
    white-space: nowrap;
    background-color: transparent;
    margin: 10px; 
    padding: 0.5rem 1rem;
}

.contact:hover, .about:hover, .projects:hover, .skill:hover {
    background-color: black;
    color: aqua;
    transform: scale(1.2);
    z-index: 10;
    box-shadow: 0px 4px 8px aqua;
}

.contact:hover a, .about:hover a, .projects:hover a, .skill:hover a {
    color: aqua;
}


.social {
    margin-top: 50px;
}

#contact-hov {
    margin-top: 100px;
    margin-left: 140px;
}

.cib-linkedin, .cib-leetcode, .cib-hackerrank, .cib-github {
    gap: 3rem;
    margin-top: 200px;
    padding: 30px;
    width: 100px;
    height: fit-content;
    text-align: center;
    font-size: 35px;
    color: white;
    transition: background-color 0.3s, color 0.3s;
}

.cib-linkedin:hover, .cib-leetcode:hover, .cib-hackerrank:hover, .cib-github:hover {
    background-color: black;
    border-radius: 30%;
    color: aqua;
    box-shadow: 0px 4px 8px aqua;
}


.education{
    margin-left: 140px;
    margin-top: 110px;
}

.container1 {
    margin-top: 50px;
    background-image: url("images/abstract-black-lines-geometric-background_677411-2748.avif");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50vh;
    width: 40%;
    margin-left: 520px;
    color:white;
    font-weight: 500;
    gap: 7rem;
    font-size: 20px;
    border-radius: 10%;
}

.animate {
    animation: slideIn1 1.5s forwards;
}

@keyframes slideIn1 {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 0.5;
        transform: translateX(0);
        margin-left: 400px;
       
    }
}
.animate1 {
    animation: slideIn2 1.5s forwards;
}

@keyframes slideIn2 {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 0.5;
        transform: translateX(0);
       
    }
}

#skill-hov {
    margin-top: 100px;
    margin-left: 140px;
}

.container2 {
    background-color:whitesmoke;
    width: 60%;
    height: 700px;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 150px;
    border-radius: 15%;
    padding: 10rem;
}

.skill-list-total {
    margin-left: 0px;
    border-radius: 30%;
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 50px;
}   

.skill-list {
    width: 200px;
    height: 200px;
    background-color:aqua;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.skill-list:hover{
    background-color:rgb(0, 0, 0);
    border-radius: 20%;
    color: rgb(1, 1, 1);
   
    z-index: 10;
    box-shadow: 8px 8px 30px aqua;
}
.skill-list i, .skill-list img {
    font-size: 100px;
    width: 100px;
    height: auto;
    color: white;
}

.skill-icon {
    width: 80%;
    height: auto;
}
.container3 {
    display: grid;
    justify-content: center;
    grid-template-columns: 500px 500px; /* Two columns */
    grid-template-rows: auto auto; /* Two rows */
    gap: 30px; /* Adjusted gap between grid items */

    padding: 10px;

  }
  
  .container3 > div {
    background-color: rgba(238, 238, 238, 0.8);
    text-align: center;
    height: 500px;
    width: 500px;
    font-size: 30px;
    border-radius: 30%;
  }
  .edu h1{
    margin-top: 50px;
    font-size: 30px;
  }
  .edu:hover{
    background-color:black;
    box-shadow: 0px 4px 16px aqua;
  }
  @keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.edu {
    opacity: 0;
    transform: translateX(-100%);
}

.edu.animate {
    animation: slideInLeft 1s forwards;
}



  h4{
    margin-top: 30px;
  }



