html{
    background-image: url("black-geometric-memphis-social-banner_53876-116843.avif");
    display:flex;
    background-size: cover;
   
}
body{
    color:azure;
}
*{
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: inherit;
}

body{
     
    background-size: cover;
    margin: 0%;
    padding: 0%;
}
.name{
    font-size: 40px;
    color:aliceblue
}
.header {
    display: flex;
    
    color:rgb(213, 224, 206);
    height: auto;
    width:100%;
    border-color: aliceblue;
    justify-content: space-between;
    height:10vh;
    gap: 1rem;
    align-items: center;
}

.name h1:hover{
    color: rgba(15, 15, 255, 0.925);
    
}
.container{
    margin-top: 200px;
    margin-left: 140px;
    
    
}
p{
    margin-top: 3rem;
}
.logo{

    font-size: 30px;
    font-weight: 700;
    margin-left: 140px;
}

.navbar{
    display: flex;
    gap: 7rem;
    font-weight:500;
    font-size: 25px;
    margin-right: 200px;
}

.button1{
    display: flex;
    border:20px;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 200px;
    height:50px;
    font-size:20px;
    background-color: aqua;
    border-radius: 20px;
    font-family:'Times New Roman', Times, serif;
    font-weight: bolder;
    
}
.button2{
    display: flex;
    border:20px;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 200px;
    height:50px;
    font-size:20px;
    background-color: aqua;
    border-radius: 20px;
    font-family:'Times New Roman', Times, serif;
    font-weight: bolder;
    
}
.button1:hover{
    color: aqua;
    background-color: rgb(0, 0, 0);
}
.button2:hover{
    color: aqua;
    background-color: rgb(0, 0, 0);
}
.btn-box{
    width: 150px;
    height: 100%;
    background: #00abf0;
    border: 2px solid;
}

.contact {
    display: inline-block;
    position: relative; /* Required for the absolute positioning */
    
    
    text-align: center;
    border-radius: 10px;
    transition: width 0.3s, background-color 0.3s, color 0.3s; /* Smooth transitions */
    overflow: hidden; 
    white-space: nowrap; 
    background-color: transparent; 
}



.contact:hover {
    width: 120px; /* Box width on hover */
    background-color: darkslategray;
    color: #fff;
    text-align: center;
    border-radius: 10px;
    position:static
}

.contact:hover a {
    color: #fff; /* Change link color on hover */
}
.about {
    display: inline-block;
    position: relative; /* Required for the absolute positioning */
    
    
    text-align: center;
    border-radius: 10px;
    transition: width 0.3s, background-color 0.3s, color 0.3s; /* Smooth transitions */
    overflow: hidden; 
    white-space: nowrap; 
    background-color: transparent; 
}



.about:hover {
    width: 120px; /* Box width on hover */
    background-color: darkslategray;
    color: #fff;
    text-align: center;
    border-radius: 10px;
    position:static
}

.about:hover a {
    color: #fff; /* Change link color on hover */
}
.projects {
    display: inline-block;
    position: relative; /* Required for the absolute positioning */
    
    
    text-align: center;
    border-radius: 10px;
    transition: width 0.3s, background-color 0.3s, color 0.3s; /* Smooth transitions */
    overflow: hidden; 
    white-space: nowrap; 
    background-color: transparent; 
}



.projects:hover {
    width: 120px; /* Box width on hover */
    background-color: darkslategray;
    color: #fff;
    text-align: center;
    border-radius: 10px;
    position:static
}

.projects:hover a {
    color: #fff; /* Change link color on hover */
}
.skill {
    display: inline-block;
    position: relative; /* Required for the absolute positioning */
    
    
    text-align: center;
    border-radius: 10px;
    transition: width 0.3s, background-color 0.3s, color 0.3s; /* Smooth transitions */
    overflow: hidden; 
    white-space: nowrap; 
    background-color: transparent; 
}



.skill:hover {
    width: 120px; /* Box width on hover */
    background-color: darkslategray;
    color: #fff;
    text-align: center;
    border-radius: 50px;
    position:static
}

.skill:hover a {
    color: #fff; /* Change link color on hover */
}
.social{
   
    margin-top: 50px;
  }
  .cib-linkedin{

    gap:3rem;
    margin-top: 200px;
    padding: 30px;
    font-size: 55px;
    width: 100px;
    height:fit-content;
    text-align: center;
    text-decoration: none;
    font-size: 35px;
    color: white;
 }
 .cib-linkedin:hover{
    background-color:black;
      border-radius: 20%;
      color: aqua;
     

 }

 
 .cib-leetcode{

    gap:3rem;
    margin-top: 200px;
    padding: 30px;
    font-size: 55px;
    width: 100px;
    height:fit-content;
    text-align: center;
    text-decoration: none;
    font-size: 35px;
    color: white;
 }
 .cib-leetcode:hover{
    background-color:black;
      border-radius: 20%;
      color: aqua;
     

 }

 .cib-hackerrank{

    gap:3rem;
    margin-top: 200px;
    padding: 30px;
    font-size: 55px;
    width: 100px;
    height:fit-content;
    text-align: center;
    text-decoration: none;
    font-size: 35px;
    color: white;
 }
 .cib-hackerrank:hover{
    background-color:black;
      border-radius: 20%;
      color: aqua;
     

 }
 .cib-github{

    gap:3rem;
    margin-top: 200px;
    padding: 30px;
    font-size: 55px;
    width: 100px;
    height:fit-content;
    text-align: center;
    text-decoration: none;
    font-size: 35px;
    color: white;
 }
 .cib-github:hover{
    background-color:black;
      border-radius: 20%;
      color: aqua;
     

 }


